body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f3f3;
  }
  
  .stopwatch-container {
    text-align: center;
  }
  
  #display {
    font-size: 2em;
    margin: 20px 0;
  }
  
  .controls button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    color: #e30707;
  }
  .controls button:hover {
    color: #5d71b3; 
}

  #laps {
    margin-top: 20px;
  }
  
  #laps div {
    font-size: 0.9em;
    color: #555;
    margin: 5px;
  }
  